<!DOCTYPE html>
<html>
  <head>
    <title>Plane creator</title>
    <%= csrf_meta_tags %>
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
